# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Project specific
resume-builder/resume_skeleton.yaml
resume-builder/output/
*.docx
*.pdf
.streamlit/
